@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.ListElem {
    justify-content: center;
    align-items: center;
    color: #004643;
    font-size:1.5em;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: bold;
}

.ListItem {
    color: #63535B;
    font-size:1.3em;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}