@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.inline-cardPI-end {
    margin: 0 auto;
    text-align: center;
}

.inline-cardPI-start {
    display: flex;
    justify-content: start;
}


.inline-cardIP-end {
    display: flex;
    justify-content: start;
}

.inline-cardIP-start {
    margin: 0 auto;
    text-align: center;
}

.inline-card-center {
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.span-card {
    position: relative;
    top: 50%;
    color: #63535B;
    font-size: 1.3em;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cardText {
    text-align: center;
    color: #63535B;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textBold {
    color: #004643;
    font-size:1.04em;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: bold;
}

.textItalic {
    color: #63535B;
    font-size: 1.04em;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.image {
    mix-blend-mode: multiply;
}